/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}

header {
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #007BFF;
}

.navbar {
    display: flex;
    gap: 40px;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: 600px;
}

.navbar a:hover {
    color: #007BFF;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10%;
    gap: 40px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    min-height: 100vh;
}

.hero-left {
    flex: 1;
}

.hero-left .tagline {
    font-size: 14px;
    color: gray;
    margin-bottom: 10px;
}

.hero-left h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #e99e14;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background: #0056b3;
}

.hero-right {
    flex: 1;
    text-align: right;
}

.hero-right img {
    max-width: 500px;
    height: 650px;
    object-fit: cover;
    border-radius: 10px;
}

.three-boxes {
    display: flex;
    gap: 40px;
    padding: 40px 10%;
    background: white;
    flex-wrap: wrap;
}

.box {
    flex: 1;
    min-width: 250px;
}

.box img {
    width: 100%;
    border-radius: 5px;
}
.box:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        background: white;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        padding: 20px;
        border-top: 1px solid #ddd;
    }

    #menu-toggle:checked + .menu-icon + .navbar {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 120px 5%;
    }

    .three-boxes {
        flex-direction: column;
        align-items: center;
    }
}